body, html {
    background: url("../src/bga.jpg");

    justify-content: center;
    align-items: center;
    background-position: top,center;
    background-size: cover;
}
p {
    font-family: 'ZCOOL KuaiLe', cursive;
    color: white;
}
a {
    text-decoration: none;
    color: white;
    font-family: 'ZCOOL KuaiLe', cursive;
}
pre {
  color: white;
  font-family: 'ZCOOL KuaiLe', cursive;
}

.wrapper {
  margin-right: 2%; /* 1 */
  margin-left:  2%; /* 1 */

  padding-right: 1%; /* 3 */
  padding-left:  1%; /* 3 */

  display: flex;
  flex-direction: row;
}
    .Profile_Section {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 25vw;
        height: 75vh;
        background:rgba(41, 41, 41, 0.75);
        align-items: center;
        text-align: center;
        margin-top: 100px;
    }
        .placeholder-img {
            margin: 5%;
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
            #DP_properties {
                width: 200px;
                height: 200px;
                border-radius: 50%;
            }
        .Introduction {

        }
            #AboutYou{
                padding: 10%;
            }
        .Social_Media {
          flex: auto;
          justify-content: center;
          align-items: center;

        }

    .Main_Section {
        margin: 5%;
        margin-left: 30%;
        width: 60vw;

    }
        .Section {
            margin-bottom: 8%;
            padding: 10%;
            background:rgba(41, 41, 41, 0.8);
        }
        #group1 {

        }
        #group2 {

        }
        #group3 {

        }
