body{
  align-self: center;
  align-items: center;
  display:flex;
  justify-content: center;
  background-image: url('../src/bg.gif');
}
.main_profile{
        width:300px;
        height:300px;
        border-radius:50%;
        background-color: red;
        align-self: center;
        align-items: center;
            }
  #profilepic{
    height: 300px;
    width: 300px;
    align-self: center;
    align-items: center;
    border-radius: 50%;

  }
