@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
}
@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin background_color {
    background-color: #292929;
}

body {
    background-color: #292929;
    font-family: 'Press Start 2P', cursive;
    color: white;

    a {
        text-decoration: none;
        color: white;
    }

    .placeholder_back-img {
        position: absolute;
        height: 50px;
        top: 8%;
        left: 10%;
        z-index: 10;
    }

    .parallax_wrapper {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 300px;

        .intro_screen {
            height: 100vh;
            background-color: #292929;
            @include align-center;
            z-index: 1;

            .Profile {
                padding-top: 12vh;
                @include align-center;
                flex-direction: column;
                z-index: inherit;
                .placeholder_dp-img {
                    border-radius: 50%;
                    width: 200px;
                    height: 200px;
                    z-index: inherit;
                }

                #Name {
                    padding-top: 2%;
                    letter-spacing: 10px;
                    z-index: inherit;
                }

                #_socmed {
                    margin: 1%;
                    z-index: inherit;
                    #Socmed {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        z-index: inherit;
                        .gitIcon {
                            height: 30px;
                            margin-left: -20%;
                            z-index: inherit;
                        }

                        p {
                            padding-left: 20%;
                            z-index: inherit;
                        }
                    }
                }
            }
        }

        .outro_screen {
            height: 100vh;
            background-color: teal;
            @include align-center;
            @include background_color;
        }

        .parallax_group {
            position: relative;
            height: 100vh;
            transform-style: preserve-3d;

            .parallax_layer {
                position: absolute;
                inset: 0;
                @include align-center;
            }
            //Scale = 1 + ((Z transform * -1) / perspective)
            .base_layer {
                transform: translateZ(-300px) scale(2);
            }

            .mid_layer {
                transform: translateZ(0);
            }

            .top_layer {
                transform: translateZ(-300px);
            }
        }

        #intro {
            z-index: 0.5;
        }

        #group-01 {
            z-index: -1;
        }

        #group-01 > .base_layer {
            background-color: crimson;
            @include background_color;
        }

        #group-02 {}

        #group-02 > .mid_layer {
            background-color: yellowgreen;
            @include background_color;
        }

        #outro {}
    }
    .About_me {
        display: flex;
        flex-direction: row;
        .wrapper_Left {
            height: 41vh;
            width: 30vw;
            background: #292929;
        }
        .wrapper_Right {
            height: 41vh;
            width: 10vw;
            background: #292929;
        }
        .Nav_line {
            position: relative;
            height: 41vh;
            width: 10vw;
            display: flex;
            flex-direction: column;

            .square_color {
                clear: left;
                margin: 0 auto;
                background: rgba(29, 29, 29, 0);
            }
            .Square1 {
                height: 3em;
                width: 3em;
                border: 1vw solid #01ffd199;
            }
            .Square2 {
                height: 2em;
                width: 2em;
                border: 1vw solid #01ffd166;
            }
            .Square3 {
                height: 1em;
                width: 1em;
                border: 1vw solid #01ffd133;
            }

            .Line {
                height: 41vh;
                width: 1vw;
                margin: 0% auto;
                background: #01ffd1;
            }
        }
        .About_me_content{
            height: 41vh;
            width: 60vw;
            background: #292929;

            #About_Heading {
                margin: 2% 0%;
                padding: 2% 0%;
                letter-spacing: 3px;
                font-size: 1em;
            }
            #About_para {
                margin: 1% 0%;
                padding: 1% 0%;
                font-size: 12px;
                letter-spacing: 3px;
            }
        }
    }
}
