@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
}
@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin background_color {
    background-color: #292929;
}

body {
    background-color: #292929;
    font-family: 'Press Start 2P', cursive;
    color: white;

    a {
        text-decoration: none;
        color: white;
    }

    .placeholder_back-img {
        position: absolute;
        height: 50px;
        top: 8%;
        left: 10%;
        z-index: 10;
    }

    .parallax_wrapper {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 300px;

        .intro_screen {
            height: 100vh;
            background-color: #292929;
            @include align-center;
            z-index: 1;

            .Profile {
                @include align-center;
                flex-direction: column;
                z-index: inherit;
                .placeholder_dp-img {
                    border-radius: 50%;
                    width: 300px;
                    height: 300px;
                    z-index: inherit;
                }

                #Name {
                    padding-top: 2%;
                    letter-spacing: 10px;
                    z-index: inherit;
                }

                #_socmed {
                    margin: 1%;
                    z-index: inherit;
                    #Socmed {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        z-index: inherit;
                        .gitIcon {
                            height: 30px;
                            margin-left: -20%;
                            z-index: inherit;
                        }

                        p {
                            padding-left: 20%;
                            z-index: inherit;
                        }
                    }
                }
                .About_me {
                    display: flex;
                    .wrapper_left {

                    }
                    .Nav_line {
                        .Circle {

                        }
                        .Line {

                        }
                    }
                    .About_me_content{
                        
                    }
                }
            }
        }

        .outro_screen {
            height: 100vh;
            background-color: teal;
            @include align-center;
            @include background_color;
        }

        .parallax_group {
            position: relative;
            height: 100vh;
            transform-style: preserve-3d;

            .parallax_layer {
                position: absolute;
                inset: 0;
                @include align-center;
            }
            //Scale = 1 + ((Z transform * -1) / perspective)
            .base_layer {
                transform: translateZ(-300px) scale(2);
            }

            .mid_layer {
                transform: translateZ(0);
            }

            .top_layer {
                transform: translateZ(-300px);
            }
        }

        #intro {
            z-index: 0.5;
        }

        #group-01 {
            z-index: -1;
        }

        #group-01 > .base_layer {
            background-color: crimson;
            @include background_color;
        }

        #group-02 {}

        #group-02 > .mid_layer {
            background-color: yellowgreen;
            @include background_color;
        }

        #outro {}
    }
}
